@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap'); 

body{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}

.active {
  background-color: white;
  color: black;
  border-radius: 8px;
}

.icon-color{
  color: white;
}

.active > .icon-color{
  color: #2753B8;
}

/* scrollbar desgin */

/* width */
::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #989BA5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}